
.card{
    display: flex;
    box-shadow: 10px 5px 5px red;
    outline: 5px solid black;
    outline-offset: -20px;
    gap:15px;
    padding:20px;
    text-transform: capitalize;
    flex-direction: column;
    border:5px solid red
}
.board{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}